<blockquote class="blockquote mb-0">
    <form class="mb-3">
        <textarea class="form-control" placeholder="댓글 수정" name="content">{{content}}</textarea>
    </form>

    <div class="d-flex justify-content-between">
        <small class="text-muted">{{createdAt}}</small>
        <button class="btn btn-sm btn-success edit-btn">수정</button>
    </div>
</blockquote>