<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: head"><title>SB-Board</title></head>
<body>
    <div id="app">
        <header id="header">
            <div th:replace="fragments/nav :: nav"></div>
        </header>
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <main id="content-layout" class="container">
            <div layout:fragment="content">Content</div>
        </main>

        <footer th:replace="fragments/footer"></footer>
    </div>
    <th:block th:replace="fragments/scripts :: scripts"/>
    <th:block layout:fragment="script"/>
</body>
</html>