<table id="posts-table" th:fragment="_table"
       class="table table-hover mb-5 bg-white shadow">
    <thead>
    <tr>
        <th scope="col" style="width: 10%" class="text-nowrap">No</th>
        <th scope="col" style="width: 40%" class="text-nowrap">제목</th>
        <th scope="col" style="width: 15%" class="text-nowrap">작성자</th>
        <th scope="col" style="width: 15%" class="text-nowrap">작성일</th>
        <th scope="col" style="width: 10%" class="text-nowrap">조회수</th>
        <th scope="col" style="width: 10%" class="text-nowrap">공감</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.size(posts) == 0}">
        <td colspan="4" class="align-middle text-center" style="height: 30vh">게시물이 없습니다.</td>
    </tr>
    <tr th:each="post, iter : ${posts}" th:attr="data-post-id=${post.id}"
        class="clickable" role="link" style="cursor: pointer">
        <th th:text="${totalCount - pagination.perPage*(pagination.current - 1) - iter.index}">1</th>
        <td th:text="${post.title}" class="text-start">title</td>
        <td th:text="${post.account.nickname}">nickname</td>
        <td th:text="${#dates.format(post.createdAt, 'yyyy.MM.dd.')}">createdAt</td>
        <td th:text="${post.views}">0</td>
        <td th:text="${#lists.size(post.thumbs)}">0</td>
    </tr>
    </tbody>
</table>
