<!DOCTYPE html>
<body xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<div layout:fragment="content" class="main-content">

    <h1>게시물 수정</h1>
    <hr>

    <input id="post-id" type="hidden" th:value="${postVo.id}">
    <form th:replace="app/post/_form :: _form"></form>

</div>
<th:block layout:fragment="script">
    <script th:src="@{/node_modules/summernote/dist/summernote-bs5.js}"></script>
    <script th:src="@{/js/app/post-manager.js}"></script>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            new PostManager();
        })

    </script>
</th:block>
</body>