<!DOCTYPE html>
<body xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}"
>
<div layout:fragment="content" class="main-content">
    <h1>게시물 작성</h1>
    <hr>
    <form th:replace="app/post/_form :: _form">
    </form>

</div>
<th:block layout:fragment="script">
    <script th:src="@{/node_modules/summernote/dist/summernote-bs5.js}"></script>
    <script th:src="@{/js/app/post/post-manager.js}"></script>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            $('#summernote').summernote({
                placeholder: '게시물 내용을 입력해주세요.',
                tabsize: 2,
                lang: "ko-KR",
                height: 300,
                callbacks: {	//여기 부분이 이미지를 첨부하는 부분
                    onImageUpload : function(files) {
                        uploadSummernoteImageFile(files[0],this);
                    },
                    onPaste: function (e) {
                        const clipboardData = e.originalEvent.clipboardData;
                        if (clipboardData && clipboardData.items && clipboardData.items.length) {
                            const item = clipboardData.items[0];
                            if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
                                e.preventDefault();
                            }
                        }
                    }
                }
            });

            const postManager = new PostManager();
        })

        /**
         * 이미지 파일 업로드
         */
        function uploadSummernoteImageFile(file, editor) {
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");
            const data = new FormData();
            data.append("file", file);
            $.ajax({
                data : data,
                beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                type : "POST",
                url : "/uploadSummernoteImageFile",
                contentType : false,
                processData : false,
                success : function(data) {
                    //항상 업로드된 파일의 url이 있어야 한다.
                    $(editor).summernote('insertImage', data.url);

                    setFileInfo(data);
                }
            });
        }

        function setFileInfo(info) {
            const nameInput = document.getElementById("fileId");
            const pathInput = document.getElementById("filePath");
            const extInput = document.getElementById("fileExt");

            nameInput.value = info.name;
            pathInput.value = info.path;
            extInput.value = info.ext;
        }


    </script>
</th:block>
</body>