<!DOCTYPE html>
<body xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<div layout:fragment="content" class="main-content">
    <input id="post-id" type="hidden" th:value="${post.id}">
    <!--    <div th:text="${post.title}" class="h1 d-flex justify-content-between">title</div>-->

    <h1 class="d-flex justify-content-between">
        <span th:text="${post.title}"></span>
        <span class="dropdown">
            <span id="post-option" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </span>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="post-option">
                <li><a class="dropdown-item edit-btn" th:href="@{'/posts/'+${post.id}+'/edit'}">수정</a></li>
                <li><a class="dropdown-item remove-post-btn" href="#" th:data-id="${post.id}">삭제</a></li>
            </ul>
        </span>
    </h1>

    <hr>
    <div class="px-3 mb-3">
        <div th:utext="${post.content}" class="mb-3">content</div>
        <!--        <div th:if="${post.file != null}">-->
        <!--            <img src="/" th:src="@{/upload/{fileName}(fileName = ${post.file.name})}" width="500px" alt="이미지">-->
        <!--        </div>-->
        <div id="file-div" th:if="${!post.fileSet.isEmpty()}">
            <div th:each="file : ${post.fileSet}"
                 class="bg-white shadow py-2 px-1 mb-2 mx-2">
                <i class="bi bi-folder2-open mx-3"></i>
                <span th:text="${file.originalName}" class="align-middle" style="font-size: 0.9rem"></span>
                <a th:href="@{'/files/'+${file.id}}" id="file-download" class="float-end me-3"
                   th:download="${file.originalName}">
                    <i class="bi bi-download"></i>
                </a>
            </div>
        </div>
    </div>

    <h4>comments <span style="color: skyblue">0</span></h4>
    <hr>
    <div id="comment-section" class="px-3"></div>
    <form id="comment-form" class="px-3">
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="댓글 작성란 입니다" id="comment" name="content"
                      style="height: 100px"></textarea>
            <label for="comment">댓글 작성란 입니다</label>
        </div>
        <div class="text-end">
            <button class="btn btn-secondary save-btn">등록</button>
        </div>
    </form>

</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/app/comment/comment-manager.js}"></script>
    <script th:src="@{/js/app/post/post-manager.js}"></script>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            console.log("=======load=======")
            const commentManager = new CommentManager();
            const postManager = new PostManager();
        })
        // window.addEventListener('load', () => {
        //     // const CommentManager = new CommentManager();
        // })
        async function checkResponseOnDownload(id) {
            const response = await fetch("/files/" + id, { method: "GET", mode: 'cors' })
                .catch((error) => {
                    alert(error)
                    return false
                });

            let blob = await response.blob();

            console.log("check response data")
            // const test = new Blob();
            // blob = blob.slice(0, blob.size, "image/jpeg")
            // blob.type = 'image/jpeg'
            console.log(response)
            console.log(blob)
            download(blob)
        }

        function download(blob, filename) {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            // the filename you want
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            window.URL.revokeObjectURL(url);
        }
    </script>
</th:block>
</body>