$primary: #e91b23;
$body-bg: #E9ECEFFF;
//$body-color: #fff;

@import "../node_modules/bootstrap/scss/bootstrap";

.menu {
  //&:hover {
  //  background: #9E9E9E;
  //}
  &:hover {
    cursor: pointer;
    color: $primary !important;
    transition: color 0.5s;
  }

  &.active {
    color: $primary !important;
  }
}

.icon-lg {
  font-size: 1.5rem;
}

.icon-xlg {
  font-size: 2rem;
}

#profile-avatar {
  &:hover {
    cursor: pointer;
    color: $primary !important;
    transition: color 0.5s;
  }
}

.loading-overlay {
  display: none;
  background: rgba(42, 42, 42, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;
  align-items: center;
  justify-content: center;

  &.is-active {
    display: flex !important;
  }

  .loading-spinner {
    width: 3rem;
    height: 3rem;
  }
}


 .error-code-div {
   font-size: 10rem;
   font-weight: 900;
   letter-spacing: -1rem;
   color: #e91b23;
   text-align: center;

   .error-code-span {
     text-shadow: -8px 0px 0px #000;
   }
 }

.error-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.error-content {
  text-align: center;
}

