<head th:fragment="head" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <title>Spring Boot 게시판</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="icon" type="image/x-icon" href="#" th:href="@{/images/favicon.ico}">

    <link rel="stylesheet" th:href="@{/node_modules/summernote/dist/summernote-bs5.css}">

    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/app.css}" />
</head>