<header id="header" th:fragment="nav"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        class="p-3 mb-3 bg-dark text-white"
        th:with="boardType=${T(kr.co.promptech.sbboard.model.enums.BoardType)}"
>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-3 text-white text-decoration-none">
                <img th:src="@{/images/logo.png}" width="100px">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/}" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a th:href="@{/board(type=${boardType.NOTICE})}"
                       th:classappend="${menuActive == boardType.NOTICE ? 'active' : ''}"
                       class="nav-link px-2 text-white menu">공지사항</a></li>
                <li><a th:href="@{/board(type=${boardType.QNA})}"
                       th:classappend="${menuActive == boardType.QNA ? 'active' : ''}"
                       class="nav-link px-2 text-white menu">Q&A</a></li>
                <li><a th:href="@{/board(type=${boardType.FREE})}"
                       th:classappend="${menuActive == boardType.FREE ? 'active' : ''}"
                       class="nav-link px-2 text-white menu">자유게시판</a></li>
            </ul>

            <form id="search-form" th:action="@{/search}" method="GET"
                  class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex">
                <input type="search" name="keyword" class="form-control form-control-dark me-2" placeholder="제목으로 검색..."
                       aria-label="Search">
                <button type="submit" class="btn btn-warning text-nowrap">검색</button>
            </form>

            <th:block sec:authorize="isAnonymous()">
                <div class="text-end">
                    <a th:href="@{/auth/login}" class="btn btn-outline-light me-2">로그인</a>
                </div>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <div class="text-end">
                    <div id="profile-avatar" data-bs-toggle="dropdown" aria-expanded="false"
                         class="d-flex align-items-center">
                        <i class="bi bi-person-circle avatar-lg"></i>&nbsp;
                        <span th:text="${account.nickname}+' 님'" class="text-nowrap h5 m-0">nickname</span>
                    </div>
                    <ul aria-labelledby="profile-avatar"
                        class="dropdown-menu dropdown-menu-start dropdown-menu-dark mx-0 border-0 shadow w-220px mt-3">
                        <li>
                            <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                                <i class="bi bi-person-lines-fill"></i>
                                마이페이지
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
                                <i class="bi bi-bell-fill"></i>
                                알림
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="#" th:action="@{/logout}" method="POST" class="inline">
                                <button type="submit" class="dropdown-item d-flex gap-2 align-items-center">
                                    <i class="bi bi-box-arrow-right"></i>
                                    로그아웃
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </th:block>
        </div>
    </div>
</header>