<nav xmlns:th="http://www.thymeleaf.org" th:fragment="pagination"
     th:with="
                begin = ${pagination.begin},
                end = ${pagination.end},
                url = ${pagination.url},
                query = ${pagination.query},
                current = ${pagination.current},
                totalPages = ${pagination.page.totalPages}
              "
     aria-label="Page navigation"
>
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${begin <= 1} ? 'disabled'">
            <a class="page-link" href="#" th:href="@{{pageUrl}(pageUrl=${url}, page=0)}+'&'+${query}" aria-label="Previous">
                <span class="d-none">double-left</span><i class="bi bi-chevron-double-left"></i>
            </a>
        </li>
        <li class="page-item" th:classappend="${begin <= 1} ? 'disabled'">
            <a class="page-link" href="#" th:href="@{{pageUrl}(pageUrl=${url}, page=${begin - 2})}+'&'+${query}">
                <span class="d-none">angle-left</span><i class="bi bi-chevron-left"></i>
            </a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(begin, end)}" th:classappend="${i == current} ? 'active'">
            <a th:if="${i > 0}" class="page-link" href="#" th:href="@{{pageUrl}(pageUrl=${url}, page=${i - 1})}+'&'+${query}">
                <span th:text="${i}"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${end >= (totalPages)} ? 'disabled'">
            <a class="page-link" href="#" th:href="@{{pageUrl}(pageUrl=${url}, page=${end})}+'&'+${query}">
                <span class="d-none">angle-right</span><i class="bi bi-chevron-right"></i>
            </a>
        </li>

        <li class="page-item" th:classappend="${end >= (totalPages - 1)} ? 'disabled'">
            <a class="page-link" href="#" th:href="@{{pageUrl}(pageUrl=${url}, page=${totalPages - 1})}+'&'+${query}">
                <span class="d-none">double-right</span><i class="bi bi-chevron-double-right"></i>
            </a>
        </li>
    </ul>
</nav>
