<!DOCTYPE html>
<body xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<div layout:fragment="content" class="main-content">
<!--    <h1 class="text-primary">-->
<!--        Welcome-->
<!--        <span th:text="${account?.nickname}" class="text-black"></span>-->
<!--    </h1>-->
    <div class="card shadow my-5 text-center">
        <div class="card-body">
            <h2 th:text="${menuActive != null ? menuActive.title : 'Home'}"></h2>
        </div>
    </div>

    <div class="text-center">
        <div class="row text-end mb-3">
            <div class="col text-end">
                <a th:href="@{/posts}" class="btn btn-sm btn-outline-success">게시물 작성</a>
            </div>
        </div>
        <div>
            <table th:replace="app/post/_table :: _table"></table>
        </div>

    </div>
    <nav th:replace="fragments/pagination :: pagination"></nav>
</div>
<script type="application/javascript" layout:fragment="script">

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll('.clickable')
        for (const row of rows) {
            row.addEventListener('click', handlePostClick)
        }
    });

    function handlePostClick() {
        const postId = this.dataset.postId
        location.href = '/posts/' + postId;
    }

</script>
</body>