<!DOCTYPE html>
<body xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<div layout:fragment="content" class="main-content">
    <h1 class="text-primary">
        Welcome
        <span th:text="${account?.nickname}" class="text-black"></span>
    </h1>
    <div th:if="${account != null && !account.emailConfirmed}"
         class="alert alert-warning mb-5" role="alert">
        아직 이메일 인증을 완료하지 않은 계정입니다.<br/>
        가입하신 메일계정으로 인증을 완료해주시길 바랍니다.<br/>
        <small class="text-danger">※주의: 이메일 인증을 하지 않을 경우, 추후 비밀번호 재설정 시 불이익이 발생할 수 있습니다.</small>
        <button id="resend-confirm-mail-btn" class="btn btn-sm btn-secondary float-end">인증메일 재전송</button>
    </div>

    <div class="container text-center">
        <div class="row text-end mb-3">
            <div class="col text-end">
                <a th:href="@{/posts}" class="btn btn-sm btn-outline-success">게시물 작성</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mb-5 bg-white shadow">
                <thead>
                <tr>
                    <th scope="col" style="width: 10%">No</th>
                    <th scope="col" style="width: 50%">제목</th>
                    <th scope="col" style="width: 20%">작성자</th>
                    <th scope="col" style="width: 20%">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.size(posts) == 0}">
                    <td colspan="4" class="align-middle text-center" style="height: 30vh">게시물이 없습니다.</td>
                </tr>
                <tr th:each="post, iter : ${posts}" th:attr="data-post-id=${post.id}"
                    class="clickable" role="link" style="cursor: pointer">
                    <th th:text="${totalCount - pagination.perPage*(pagination.current - 1) - iter.index}">1</th>
                    <td th:text="${post.title}" class="text-start">title</td>
                    <td th:text="${post.account.nickname}">nickname</td>
                    <td th:text="${#dates.format(post.createdAt, 'yyyy.MM.dd.')}">createdAt</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <nav th:replace="fragments/pagination :: pagination"></nav>
</div>
<script type="application/javascript" layout:fragment="script">

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll('.clickable')
        for (const row of rows) {
            row.addEventListener('click', handlePostClick)
        }

        const resendConfirmMailButton = document.getElementById("resend-confirm-mail-btn");
        resendConfirmMailButton.addEventListener("click", async function () {
            const response = await fetch("/auth/email-token/resend");
            if (response.status === 500) {
                const error = await response.json();
                console.log(error)
                alert(error.errorMessage);
                return false;
            }

            alert("가입하신 메일로 인증키를 재전송 완료했습니다.")
        });
    });

    function handlePostClick() {
        const postId = this.dataset.postId
        location.href = '/posts/' + postId;
    }

</script>
</body>