<!DOCTYPE html>
<body xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<div layout:fragment="content" class="main-content">
    <!--    <h2 class="text-muted">홈 > 로그인</h2>-->
    <!--    <hr>-->
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body px-5 pt-5 pb-4">

                        <h3 class="text-center" th:classappend="${error} ? 'mb-3' : 'mb-5'">로그인</h3>

                        <div th:if="${error}"  class="alert text-center"
                             th:classappend="${#strings.equals(errorType, 'emailNotConfirmed')} ? 'alert-warning' : 'alert-danger'" role="alert">

                            <small th:utext="${#strings.replace(exception, newLineChar, '&lt;br /&gt;')}" class="mb-3 d-block" >로그인 실패</small>
                            <button th:if="${#strings.equals(errorType, 'emailNotConfirmed')}" id="resend-confirm-mail-btn" class="btn btn-sm btn-secondary">인증메일 재전송</button>
                        </div>


                        <form id="signup-form" th:action="@{/auth/login}" method="POST">

                            <div class="row mb-3">
                                <label for="email" class="col-sm-3 col-form-label text-nowrap">이메일</label>
                                <div class="col-sm-9">
                                    <input id="email" type="email" name="username" class="form-control"
                                           placeholder="mail@example.com" required>
                                    <small class="invalid-feedback">이메일을 입력해주세요.</small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="password" class="col-sm-3 col-form-label text-nowrap">비밀번호</label>
                                <div class="col-sm-9">
                                    <input id="password" type="password" name="password" autocomplete="on"
                                           class="form-control" required minlength="8" maxlength="20">
                                    <small class="invalid-feedback">비밀번호를 입력해주세요.</small>
                                </div>
                            </div>

                            <hr class="my-4">

                            <button type="submit" class="btn btn-primary w-100 mb-3">로그인</button>
                        </form>
                        <a th:href="@{/auth/sign-up}" class="btn btn-secondary w-100 mb-3">회원가입</a>
                        <div class="d-flex justify-content-center ps-4">
                            <a th:href="@{/auth/find-email}" class="link-secondary">이메일 찾기</a>
                            <div class="vr mx-2"></div>
                            <a th:href="@{/auth/reset-password}" class="link-secondary">비밀번호 재설정</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>