<!DOCTYPE html>
<body xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<div layout:fragment="content" class="main-content">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-6">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body px-5 pt-5 pb-4">
                        <h3 class="mb-5 text-center">비밀번호 재설정</h3>
                        <div th:if="${errorMessage}" class="alert alert-danger text-center mb-5" role="alert">
                            <span th:text="${errorMessage}"></span>
                        </div>
                        <form th:unless="${mailChecked}" id="send-mail-form" th:action="@{/auth/reset-password-mail}" method="POST" th:object="${accountVo}" novalidate>

                            <div class="row mb-5">
                                <label for="email" class="col-sm-3 col-form-label text-nowrap text-center">이메일</label>
                                <div class="col-sm-9">
                                    <input id="email" type="email" th:field="*{email}" class="form-control"
                                           placeholder="mail@example.com" required>
                                    <small class="invalid-feedback">이메일을 입력해주세요.</small>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                                <a th:href="@{/auth/login}" class="btn btn-secondary px-4">로그인</a>
                                <button type="submit" class="btn btn-primary px-4">확인</button>
                            </div>
                        </form>

                        <form th:if="${mailChecked}" id="reset-password-form" th:action="@{/auth/reset-password}"
                              method="POST" th:object="${accountVo}" novalidate>
                            <input type="hidden" th:field="*{id}">

                            <div class="mb-3">
                                <label for="password">비밀번호</label>
                                <input id="password" type="password" th:field="*{password}" autocomplete="on"
                                       class="form-control" aria-describedby="password-help" required minlength="8" maxlength="20">
                                <small id="password-help" th:unless="${#fields.hasErrors('password')}" class="form-text text-muted">
                                    영문, 숫자, 특수문자 모두 조합하여 8~20자리 이상으로 비밀번호를 설정해주세요.
                                </small>
                                <small class="invalid-feedback">비밀번호를 입력하세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">>잘못된
                                    비밀번호 형식입니다.</small>
                            </div>
                            <div class="mb-5">
                                <label for="password-check">비밀번호 확인</label>
                                <input id="password-check" type="password" autocomplete="off"
                                       class="form-control" aria-describedby="password-check-help" required minlength="8" maxlength="20">
                                <small id="password-check-help" class="form-text text-muted">
                                    같은 비밀번호를 다시 한 번 입력 바랍니다.
                                </small>
                                <small id="password-check-error" class="form-text text-danger d-none">비밀번호가 일치하지 않습니다.</small>
                            </div>

                            <div class="d-flex justify-content-between">
                                <a th:href="@{/}" class="btn btn-secondary">홈으로</a>
                                <button type="submit" class="btn btn-primary">확인</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/app/auth/reset-password-manager.js}"></script>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            // const loadingHandler = new LoadingHandler();
            // loadingHandler.initLoadingView();
            //
            // const resetPasswordForm = document.getElementById('reset-password-form')
            // resetPasswordForm?.addEventListener('submit', function(event) {
            //     console.log('do submit event')
            //     if (!this.checkValidity()) {
            //         event.preventDefault();
            //         event.stopPropagation();
            //     }
            //     this.classList.add('was-validated');
            // }, false)
            //
            // const sendMailForm = document.getElementById("send-mail-form")
            // sendMailForm?.addEventListener('submit', function(event) {
            //     loadingHandler.start();
            //     console.log('do submit event')
            //     if (!this.checkValidity()) {
            //         event.preventDefault();
            //         event.stopPropagation();
            //         loadingHandler.end();
            //     }
            //     this.classList.add('was-validated');
            // }, false)
            const resetPasswordManager = new ResetPasswordManager();
            resetPasswordManager.initEventListener();
        });
    </script>
</th:block>
</body>